
@{
    ViewBag.Title = "Auto1";
}

<h2>Auto</h2>

<div class="container">
    <h1>h1 Bootstrap heading (36px)</h1>
    <h2>h2 Bootstrap heading (30px)</h2>
    <h3>h3 Bootstrap heading (24px)</h3>
    <h4>h4 Bootstrap heading (18px)</h4>
    <h5>h5 Bootstrap heading (14px)</h5>
    <h6>h6 Bootstrap heading (12px)</h6>
</div>

<br />

<div class="container">
    <h2>Button Sizes</h2>
    <button type="button" class="btn btn-primary btn-lg">Large</button>
    <button type="button" class="btn btn-primary btn-md">Medium</button>
    <button type="button" class="btn btn-primary btn-sm">Small</button>
    <button type="button" class="btn btn-primary btn-xs">XSmall</button>
</div>

<br />

<div class="alert alert-success">
    <strong>Success!</strong> Indicates a successful or positive action.
</div>

<div class="alert alert-info">
    <strong>Info!</strong> Indicates a neutral informative change or action.
</div>

<div class="alert alert-warning">
    <strong>Warning!</strong> Indicates a warning that might need attention.
</div>

<div class="alert alert-danger">
    <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
</div>