    
@{
    ViewBag.Title = "Auto4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Auto4</h2>

<div class="container">
    <h2>Vertical Button Group</h2>
    <p>Use the .btn-group-vertical class to create a vertical button group:</p>
    <div class="btn-group-vertical">
        <button type="button" class="btn btn-primary">Apple</button>
        <button type="button" class="btn btn-primary">Samsung</button>
        <button type="button" class="btn btn-primary">Sony</button>
    </div>
</div>


<div class="container">
    <h2>Glyphicon Examples</h2>
    <p>Envelope icon: <span class="glyphicon glyphicon-envelope"></span></p>
    <p>
        Envelope icon as a link:
        <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
    </p>
    <p>Search icon: <span class="glyphicon glyphicon-search"></span></p>
    <p>
        Search icon on a button:
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
    </p>
    <p>
        Search icon on a styled button:
        <button type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
    </p>
    <p>Print icon: <span class="glyphicon glyphicon-print"></span></p>
    <p>
        Print icon on a styled link button:
        <a href="#" class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-print"></span> Print
        </a>
    </p>
</div>